<div class="row w-75 mt-5 mx-auto">
    <input type="text" class="control-form" [(ngModel)]="searchValue">
    <!-- <h2>{{searchVal}}</h2> -->
</div>
<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- movie card -->
        <div class="card movie_card" *ngFor="let movie of allMovies">
            <a [routerLink]="['/details', movie.id]">
                <img [src]="base_path + movie.poster_path" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{movie.original_title}}</h5>
                <p class="movie_info">{{movie.release_date}}</p>
                <span class="movie_info float-right"><i class="fas fa-star"></i>{{movie.vote_average}}</span>
                <p *ngIf="showMovieDetails">{{sentDetails}}</p>
                <button class="btn btn-success d-block m-1" [disabled]="watchProp">watch</button>
                <button class="btn btn-warning d-block m-1" (click)="toggleDetails(movie.id)">
                    {{showMovieDetails? 'Hide': 'See'}} Details
                </button>
            </div>
        </div>

    </div>
</div>